body{
    background-color: gray;
}
container{
    width: 80%;
    margin: 0 auto;
}
#canvasSignature{
    background-color: white;
    border: 1px solid black;
}
#myCanvas, #new{
    border: 1px solid black;
    
}